<div class="container-fluid bg-white p-5">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iure facilis enim quidem magni laudantium illo fugiat voluptatibus itaque soluta perspiciatis, provident vel nemo nesciunt quod consequuntur dicta neque suscipit!</p>
    <div class="border border-2 bg-light rounded w-50 h-100 mx-auto p-2">
    <form>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-3 col-form-label text-end"><strong>Your E-mail</strong></label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="floatingTextarea2" class="col-sm-3 col-form-label text-end"><strong>Your message</strong></label>
          <div class="col-sm-9">
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 text-right ms-auto">
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
</div>