<div class="container-fluid bg-white p-5">
<div class="container border-top">
    <div class="row">
        <div class="col">
            <div class="container p-5 mt-2 d-flex">              
            <h3 class="d-flex m-0"> <p class="fw-bold"> First Heading</p> <p class="p-1 secondfr">Will Catch Your Eye</p></h3>
            <p class="fs-6">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div>
            <img src="/website/assets/img/1.jpg" class="rounded-circle float-end" width="300" alt="Avatar">
        </div>
    </div>
</div>
</div>