<div class="container mb-5 mt-5">
    <div class="d-flex text-start">
        <div>
            <img src="./assets/img/2.jpg" class="ww" />
        </div>
        <div class="container p-3 m-6 text1">
            <h3 class="d-flex m-0"> <p class="fw-bold"> The Second Heading</p> <p class="p-1 secondfr">Is Pretty Cool Too.</p></h3>
            <p class="fs-6">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>