<div class="container-fluid border-top">
    <div class="row">
        
            <div class="container p-5 mt-2 d-flex bg-white">
                <div class="">
                    <img src="/website/assets/img/2.jpg" class="rounded-circle float-end" width="250" alt="Teclado">
                </div>
                <div class="m-3">
                    <h2 class="fs-2"><strong>The Second Heading <span class="text-secondary">Is Pretty cool Too.</span></strong></h2>
                    <p class="fs-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id iguala porta felis euismod semper. Praesent commodo cursus manga, vel nisl consectetur. Fuscec dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        
    </div>
</div>